body {
  background-color: darkslateblue;

}

#homepage-h1 {
  font-size: 60pt;
  padding: 20px;
  color: white;
  font-family: 'Rubik Moonrocks', cursive;

}

p {
  font-size: 16pt;
  font-family: 'Roboto', sans-serif;
  color: white
}

#homepage-intro {
  color: midnightblue;
  font-style: italic;
  font-size: 20pt;
}

#homepage-blog-links {
  background-color: blueviolet;
  height: 50vh;
  width: 50vw;
  padding: 0.5em;
  margin: 25vh auto 0;
}

.blog-link {
  background-color: cornflowerblue;
  margin: 0.5em;
  font-size: 16pt;
  font-family: 'Roboto';
  color: black;
  font-style: oblique;
}