body {
  background-color: darkslateblue;
}

#homepage-header {
  padding: 1.5em;
}

#homepage-h1 {
  font-size: 60pt;
  color: white;
  font-family: 'Rubik Moonrocks', cursive;
  margin-bottom: -40px;
  margin-top: 0;
}

h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 40pt;
  color: whitesmoke;
}

p {
  font-size: 16pt;
  font-family: 'Roboto', sans-serif;
  color: white
}

#homepage-intro {
  font-style: italic;
  font-size: 20pt;
}

#homepage-blog-links {
  background-color: blueviolet;
  height: 50vh;
  width: 80vw;
  padding: 0.5em;
  margin: 25vh auto 0;
  margin-top: 50px;
}

.blog-link {
  background-color: cornflowerblue;
  margin: 1em;
  padding: 0.75em;
  font-size: 16pt;
  font-family: 'Roboto';
  color: black;
  font-style: oblique;
}


footer p {
  font-size: 10pt !important;
  text-align: center;
}

.bold-text {
  font-weight: bold;
}